# Node.js dependencies
node_modules/

# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
logs/
*.log

# Data files
data/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
